.hero-container{
  display: flex;
  flex-direction: row;
  padding-left: 153px;
  padding-right: 100px;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.main-info{
  max-width: 460px;
  margin-top: 121px;
  margin-right: auto;
}

.main-heading{
  display: inline-block;
  max-height: 120px;
  min-width: 460px;
  /* padding-left: -40px; */
  text-align: left;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #333333;
}

.main-heading_colored{
  display: inline-block;
  min-width: 0px;
  color: #00AAFF;

}

.main-heading_subh{
  max-width: 337px;
  margin-top: 35px;
  text-align: left;
}

.subheading{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #929292;
  text-align: left;
}

.price{
  margin-top: 45px;
}

.first-price{
  display: inline-block;
  text-decoration: line-through;
}

.button-wrapper{
  margin-top: 127px;
}

.images-contanier{
  display: flex;
  flex-direction: row;
  margin-top: 83px;
}

.img1-wrapper{
  min-width: 327px;
  min-height: 542px;
  background-color: #EEF9FF;
  margin-right: 52px;
  border-radius: 0px 250px;
  background-image: url('../img/img-1.png');
  background-position: 63px 0;
  background-repeat: no-repeat;
}

.img2-wrapper{
  min-width: 327px;
  min-height: 542px;
  background-color: #EEF9FF;
  border-radius: 250px 0px;
  background-image: url('../img/img-2.png');
  background-repeat: no-repeat;
}

@media only screen and (max-width: 425px){
  .hero-container{
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 73px;
    padding: 0;
    max-width: 375px;
    margin: 0 auto;
  }
  .img1-wrapper{
    min-width: 176px;
    min-height: 301px !important;
    background-size: 149px 301px;
    background-position: 33px 0;
    margin-right: 28px;
  }
  .img2-wrapper{
    min-width: 176px;
    min-height: 301px;
    background-size: 149px 301px;
    background-position: 0   0;
  }
  .images-contanier{
    margin-top: 47px;
  }

  .main-info{
    display: flex ;
    flex-direction: column;
    align-items: center;
    margin-top: 47px;
  }
  .main-heading{
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
  }
  .main-info-heading{
    max-width: 295px;
    min-width: 0;
    /* margin-left: 32px; */
  }
  .main-heading_subh{
    margin-left: 42px;
    margin-top: 15px;
  }
  .button-wrapper{
    margin-top: 57px;
    /* margin-left: 33px; */
  }
  .price{
    margin-left: 33px;
    margin-top: 20px;
  }
}