.psychologists-container{
  background-color: #F6FCFF;
  max-width: 100%;
}

.psychologists-heading{
  margin-top: 79px;
}

@media only screen and (max-width: 425px){
  .psychologists-container{
    max-width: 375px;
    margin: 0 auto;
  }
  .psychologists-heading{
    display: flex;
    min-width: 0;
    max-width: 224px;
    margin-left: 31px;
    font-weight: 600;
    font-size: 30px;
    text-align: left;
    line-height: 35px;
  }
}